body {
  height: 100vh;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.maincontainer {
  display: grid;
}
.hero {
  background-image: url("../images/new\ background.jpg");
  background-size: cover;
  background-color: rgba(24, 23, 23, 0.856);
  background-blend-mode: soft-light;
  min-height: 45rem;
}
.navigation .logo img {
  width: 12rem;
  font-weight: 350;
  margin-top: -2rem;
}
.signin button {
  min-width: 6rem;
  height: 2.5rem;
  background-color: #e50914;
  text-align: center;
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  color: white;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
}
.maintext {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}
#watch {
  font-size: 2rem;
  font-weight: 500;
}
.ready {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
}
.inputDiv {
  display: grid;
  row-gap: 1rem;
  margin: auto;
  justify-items: center;
}

button{
  cursor: pointer;
}

.inputbox {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #544c4c;
  border-radius: 0.3rem;
  border: 1px solid gray;
  height: 3rem;
  padding-left: 1rem;
  min-width: 30rem;
  text-align: start;
}
.startbutton {
  justify-content: center;
  width: 13rem;
  height: 3.5rem;
  background-color: #e50914;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
}
span {
  border: 5px solid rgba(104, 102, 102, 0.404);
  margin-top: -0.1rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.images {
  height: 30rem;
}
.secondline,
.thirdline,
.fifthline {
  max-width: calc(100%-3rem);
  margin: auto;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: 47rem;
  display: grid;
}
.watchE {
  height: 20rem;
  margin: auto;
  display: grid;
  align-items: center;
  text-align: center;
  max-width: calc(100% - 4rem);
}
.sixthline,
.lastline {
  display: grid;
  place-content: center;
}
.sixthline {
  min-height: 55rem;
  margin: auto;
}
.faq {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.questions {
  min-width: calc(100% - 2rem);
  margin: 1.5rem 0 0;
}
h4 {
  margin: 1rem;
  display: flex;
  align-items: center;
  height: 4rem;
  text-align: start;
  background-color: #2E2E2E;
  font-size: 1.5rem;
  font-weight: 380;
  padding-left: 2rem;
}
p {
  color: rgba(233, 229, 229, 0.712);
}
.footertag {
  min-height: 25rem;
  display: grid;
}
.mainfooter {
  margin-left: 1.5rem;
  display: grid;
}
.first,
.second,
.third {
  display: grid;
}
.contactus {
  margin-top: 2rem;
  margin-left: 1.5rem;
}
.contacttext {
  font-size: 1.2rem;
  color: rgba(233, 229, 229, 0.712);
}
.footertext {
  font-size: 1rem;
  color: rgba(233, 229, 229, 0.712);
}
.select {
  margin-left: 1.5rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
@media only screen and (min-width: 599px) {
  body {
    height: 100vh;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
  }
  .maincontainer {
    display: grid;
  }
  .hero {
    background-image: url("../images/new\ background.jpg");
    background-size: cover;
    background-color: rgba(24, 23, 23, 0.856);
    background-blend-mode: soft-light;
    min-height: 45rem;
  }
  .navigation .logo img {
    width: 12rem;
    font-weight: 350;
    margin-top: -2rem;
  }
  .signin button {
    min-width: 6rem;
    height: 2.5rem;
    background-color: #e50914;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    color: white;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
  }
  .maintext {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  #watch {
    font-size: 2rem;
    font-weight: 500;
  }
  .ready {
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
  }
  .inputDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .inputbox {
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #544c4c;
    border-radius: 0.3rem;
    border: 1px solid gray;
    height: 3.2rem;
    padding-left: 1rem;
    min-width: 17rem;
    text-align: start;
  }
  .startbutton {
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    background-color: #e50914;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
  }
  span {
    border: 5px solid rgba(104, 102, 102, 0.404);
    margin-top: -0.1rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .images {
    height: 30rem;
  }
  .secondline,
  .thirdline,
  .fifthline {
    max-width: calc(100%-3rem);
    margin: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 47rem;
    display: grid;
  }
  .watchE {
    height: 20rem;
    margin: auto;
    display: grid;
    align-items: center;
    text-align: center;
    max-width: calc(100% - 4rem);
  }
  .sixthline,
  .lastline {
    display: grid;
    place-content: center;
  }
  .sixthline {
    min-height: 55rem;
    margin: auto;
  }
  .faq {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }
  .questions {
    min-width: calc(100% - 2rem);
    margin: 1.5rem 0 0;
  }
  h4 {
    margin: 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
    text-align: start;
    background-color: #2E2E2E;
    font-size: 1.5rem;
    font-weight: 380;
    padding-left: 2rem;
  }
  p {
    color: rgba(233, 229, 229, 0.712);
  }
  .footertag {
    min-height: 25rem;
    display: grid;
  }
  .mainfooter {
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .first,
  .second,
  .third {
    display: grid;
  }
  .contactus {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  .contacttext {
    font-size: 1.2rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .footertext {
    font-size: 1rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .select {
    margin-left: 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  body {
    height: 100vh;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
  }
  .maincontainer {
    display: grid;
  }
  .hero {
    background-image: url("../images/new\ background.jpg");
    background-size: cover;
    background-color: rgba(24, 23, 23, 0.856);
    background-blend-mode: soft-light;
    min-height: 40rem;
  }
  .navigation .logo img {
    width: 12rem;
    font-weight: 350;
    margin-top: -2rem;
  }
  .signin button {
    min-width: 6rem;
    height: 2.5rem;
    background-color: #e50914;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    color: white;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
  }
  .maintext {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  #watch {
    font-size: 2rem;
    font-weight: 500;
  }
  .ready {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }
  .inputDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .inputbox {
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #544c4c;
    border-radius: 0.3rem;
    border: 1px solid gray;
    height: 3.2rem;
    padding-left: 1rem;
    min-width: 25rem;
    text-align: start;
  }
  .startbutton {
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    background-color: #e50914;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
  }
  span {
    border: 5px solid rgba(104, 102, 102, 0.404);
    margin-top: -0.1rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  h3 {
    margin-top: -2rem;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .images {
    height: 25rem;
  }
  .thirdline,
  .fifthline {
    text-align: start;
    margin-right: 3rem;
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
  }
  .secondline,
  .watchE {
    text-align: start;
    margin-left: 3rem;
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
  }
  .kids,
  .download {
    order: 2;
  }
  .kidimg,
  .dwnimg {
    order: 1;
  }
  .secondline,
  .thirdline,
  .fifthline {
    height: 32rem;
  }
  .watchE {
    height: 20rem;
  }
  .sixthline,
  .lastline {
    display: grid;
    place-content: center;
  }
  .sixthline {
    min-height: 55rem;
  }
  .faq {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
  }
  .questions {
    min-width: calc(100% - 1rem);
    margin: 1.5rem 0 0;
  }
  h4 {
    margin: 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
    text-align: start;
   background-color: #2E2E2E;
    font-size: 1.5rem;
    font-weight: 380;
    padding-left: 2rem;
  }
  p {
    color: rgba(233, 229, 229, 0.712);
  }
  .footertag {
    min-height: 35rem;
    display: grid;
  }
  .mainfooter {
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .first,
  .second,
  .third {
    display: grid;
  }
  .contactus {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  .contacttext {
    font-size: 1.2rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .footertext {
    font-size: 1rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .select {
    margin-left: 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    height: 100vh;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
  }
  .maincontainer {
    display: grid;
    margin: auto;
  }
  .hero {
    background-image: url("../images/new\ background.jpg");
    background-size: cover;
    background-color: rgba(24, 23, 23, 0.856);
    background-blend-mode: soft-light;
    min-height: 40rem;
  }
  .navigation .logo img {
    width: 12rem;
    font-weight: 350;
    margin-top: -2rem;
  }
  .signin button {
    min-width: 6rem;
    height: 2.5rem;
    background-color: #e50914;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    color: white;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 2rem 7rem;
  }
  .maintext {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  #watch {
    font-size: 2rem;
    font-weight: 500;
  }
  .ready {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }
  .inputDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .inputbox {
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #544c4c;
    border-radius: 0.3rem;
    border: 1px solid gray;
    height: 3.2rem;
    padding-left: 1rem;
    min-width: 25rem;
    text-align: start;
  }
  .startbutton {
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    background-color: #e50914;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
  }
  span {
    border: 5px solid rgba(104, 102, 102, 0.404);
    margin-top: -0.1rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  h3 {
    margin-top: -2rem;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .images {
    height: 25rem;
  }
  .thirdline,
  .fifthline {
      margin: 0 10rem;
    text-align: start;
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
  }
  .secondline,
  .watchE {
    text-align: start;
      margin: 0 10rem;
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
  }
  .kids,
  .download {
    order: 2;
  }
  .kidimg,
  .dwnimg {
    order: 1;
  }
  .secondline,
  .thirdline,
  .fifthline {
    height: 32rem;
  }
  .watchE {
    height: 20rem;
  }
  .sixthline,
  .lastline {
    display: grid;
    place-content: center;
  }
  .sixthline {
    min-height: 55rem;
  }
  .faq {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
  }
 h4 {
    width: 60rem;
    align-items: center;
    height: 5rem;
    text-align: start;
    background-color: #2E2E2E;
    font-size: 1.5rem;
    font-weight: 380;
    padding-left: 2rem;
    margin-top: -.6rem;
  } 
  p {
    color: rgba(233, 229, 229, 0.712);
  }
  .footertag {
    margin: 0 10rem;
    min-height: 35rem;
    display: grid;
  }
  .mainfooter {
    margin-top: -3rem;
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .first,
  .second,
  .third {
    display: grid;
    grid-template-rows: repeat(6,1fr);
  }
  .contactus {
    margin-top: 5rem;
    margin-left: 1.5rem;
  }
  .contacttext {
    font-size: 1rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .footertext {
    font-size: 1rem;
    color: rgba(233, 229, 229, 0.712);
  }
  .select {
    margin-left: 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
  }
}
